*.la
*.o
*.lo
*.mo
*.gmo
*.pot
*.tar.gz
*.log
*.status
config.h
POTFILES
stamp-h1
stamp-it
libtool
configure
Makefile
Makefile.in
po/Makefile
po/Makefile.in
interfaces/Makefile
src/.deps/
src/.libs/
.idea/
cmake-build-debug/
autom4te.cache/
/CMakeLists.txt
*~


